
.icon-googleplay:before { content: '\e800'; } /* '' */
.icon-fiverr:before { content: '\e801'; } /* '' */
.icon-itch.io:before { content: '\e802'; } /* '' */
.icon-discord:before { content: '\e803'; } /* '' */
.icon-frontend-mentor:before { content: '\e804'; } /* '' */
.icon-artstation:before { content: '\e805'; } /* '' */
.icon-messenger:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-video:before { content: '\e808'; } /* '' */
.icon-music:before { content: '\e809'; } /* '' */
.icon-mobile:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\e80b'; } /* '' */
.icon-brush:before { content: '\e80c'; } /* '' */
.icon-globe-1:before { content: '\e80d'; } /* '' */
.icon-discord-1:before { content: '\e80e'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
